table, td, th{

    border-bottom: 2px solid;
    border-collapse: collapse;
    border-color: aqua;
    
    }
    
    
    table{
    
    width: 100%;
    font-size: 20px;
    text-align: center;
    
    
    }
    
    
    td, th{
    
    padding: 10px;
    
    
    }
    
    
    th{
    
    background-color: dodgerblue;
    color: white;
    
    
    }
    
    
    tr:nth-child(even){
    
    background-color: lightgray;
    
    }
    
    
    tr:hover{
    
    
    background-color: darkgreen;
    
    }
    
    
    .container{
    
        margin: 0px 50px;
    
    }

    .cap2{

background-color: dodgerblue;
margin: 20px 0px;
font-weight: bold;
color: white;


    }